<% @student.each do |s| %>
  <table>
    <tr>
      <h5><%= s.first_name %> <%= s.last_name %> Code Name:<%= s.hero_name %></h5>
      <h3><%= link_to "Edit", students_path %></h3></tr>
    <% end %>
