<h1>U.A. Highschool</h1>

<p><%= link_to "View All Cohorts", cohorts_path %></p>
<p><%= link_to "View All Courses", courses_path %></p>
<p><%= link_to "View All Teachers", teachers_path %></p>
<p><%= link_to "View All Students", students_path %></p>
