  <table>
    <tr>
      <th>Course Name:</th>
      <th>Course Hours:</th>
      </tr>
    <tr>
      <% @course.each do |s| %>
      <td><%= s.name %></td>
      <td><%= s.class_hours %></td>
      <td><a href="/courses/<%=s.id%>">View</a></td>
    </tr>
    <% end %>
    </table>
